<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.collector">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <activity
            android:name=".Level_5_Activity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".Level_6_Activity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".Level_7_Activity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".Level_8_Activity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".Level_9_Activity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".Level_10_Activity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".Level_3_Activity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".Level_4_Activity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".Level_2_Activity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <service
            android:name=".MusicPlayer"
            android:enabled="true" />

        <activity
            android:name=".level_up_class"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Scoretable_class"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CurrentScore_class"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Game_class"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Levels_class"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>